In [17]:
import pandas as pd

In [18]:
df = pd.read_csv("../data/raw/srv_ifmd_all-facilities.csv")

In [30]:
df.head()

,Facility ID,Facility Name,Street Name,Suburb/Town,Pcode,Latitude,Longitude,Field/Surface Type,FullAddress,MelwaysVicRoadsRef
0,MITCHE3674,Vermont South Club,Coronation,BRIGHT,3741.0,-37.851683,145.180228,NaN,"Coronation Avenue, BRIGHT 3741",661 P4
1,MITCHE3674,Vermont South Club,Coronation,BRIGHT,3741.0,-37.851683,145.180228,Grass,"Coronation Avenue, BRIGHT 3741",661 P4
2,MITCHE3674,Vermont South Club,Coronation,BRIGHT,3741.0,-37.851683,145.180228,Synthetic Pitch,"Coronation Avenue, BRIGHT 3741",661 P4
3,MITCHE3674,Vermont South Club,Coronation,BRIGHT,3741.0,-37.851683,145.180228,Asphalt,"Coronation Avenue, BRIGHT 3741",661 P4
4,MITCHE3674,Vermont South Club,Coronation,BRIGHT,3741.0,-37.851683,145.180228,Artificial Turf,"Coronation Avenue, BRIGHT 3741",661 P4

In [20]:
df = df.loc[:,['Facility ID','Facility Name','Street Name','Suburb/Town','Pcode','Latitude',
                'Longitude','Field/Surface Type','FullAddress','MelwaysVicRoadsRef']]

In [21]:
df.head()
df.shape

(9590, 10)

In [22]:
df.duplicated(subset=['FullAddress','Latitude','Longitude']).head(30)

0     False
1      True
2      True
3      True
4      True
5     False
6     False
7     False
8     False
9      True
10     True
11    False
12     True
13    False
14    False
15     True
16    False
17     True
18    False
19    False
20    False
21     True
22    False
23    False
24     True
25    False
26     True
27    False
28     True
29     True
dtype: bool

In [23]:
new = df.drop_duplicates(subset=['FullAddress','Latitude','Longitude'], keep='first')

In [24]:
new.shape

(4898, 10)

In [25]:
print(new['Facility Name'].str.contains('park|reserve', case=False))

0       False
5        True
6       False
7        True
8        True
        ...
9569    False
9570    False
9571    False
9572    False
9581     True
Name: Facility Name, Length: 4898, dtype: bool

In [41]:
park_reserve = new[new['Facility Name'].str.contains('park|reserve', case=False)]

gym_fitness = new[new['Facility Name'].str.contains('gym|fitness', case=False)]

swimming_sport = new[new['Facility Name'].str.contains('swimming', case=False)]

school = new[new['Facility Name'].str.contains('college|university', case=False)]

In [27]:
park_reserve.head()

,Facility ID,Facility Name,Street Name,Suburb/Town,Pcode,Latitude,Longitude,Field/Surface Type,FullAddress,MelwaysVicRoadsRef
5,ALPINE5519,Pioneer Park Recreation Reserve,Coronation,BRIGHT,3741.0,-36.737199,146.973353,NaN,"Coronation Avenue, BRIGHT 3741",661 P4
7,ALPINE10928,Mount Beauty recreation Reserve,Lakeside,MOUNT BEAUTY,3699.0,-36.739256,147.172162,Grass Running Track,"Lakeside Avenue, MOUNT BEAUTY 3699",660 H10
8,ALPINE10924,Dederang Recreation reserve,Kiewa-Valley,DEDERANG,3691.0,-36.475264,147.020525,Grass,"Kiewa-Valley Hwy, DEDERANG 3691",36 B9
11,ALPINE10932,RC McNamara Reserve,Lewis,MYRTLEFORD,3737.0,-36.567524,146.723777,Grass,"Lewis Avenue, MYRTLEFORD 3737",660 B7
13,ALPINE10942,Porepunkah Recreation Reserve,Martley,POREPUNKAH,3740.0,-36.698109,146.910729,Grass,"Martley Street, POREPUNKAH 3740",661 M11

In [42]:
park_reserve.reset_index(drop=True, inplace=True)

gym_fitness.reset_index(drop=True, inplace=True)

swimming_sport.reset_index(drop=True, inplace=True)

school.reset_index(drop=True, inplace=True)

park_reserve.head()

,Facility ID,Facility Name,Street Name,Suburb/Town,Pcode,Latitude,Longitude,Field/Surface Type,FullAddress,MelwaysVicRoadsRef
0,ALPINE5519,Pioneer Park Recreation Reserve,Coronation,BRIGHT,3741.0,-36.737199,146.973353,NaN,"Coronation Avenue, BRIGHT 3741",661 P4
1,ALPINE10928,Mount Beauty recreation Reserve,Lakeside,MOUNT BEAUTY,3699.0,-36.739256,147.172162,Grass Running Track,"Lakeside Avenue, MOUNT BEAUTY 3699",660 H10
2,ALPINE10924,Dederang Recreation reserve,Kiewa-Valley,DEDERANG,3691.0,-36.475264,147.020525,Grass,"Kiewa-Valley Hwy, DEDERANG 3691",36 B9
3,ALPINE10932,RC McNamara Reserve,Lewis,MYRTLEFORD,3737.0,-36.567524,146.723777,Grass,"Lewis Avenue, MYRTLEFORD 3737",660 B7
4,ALPINE10942,Porepunkah Recreation Reserve,Martley,POREPUNKAH,3740.0,-36.698109,146.910729,Grass,"Martley Street, POREPUNKAH 3740",661 M11

In [44]:
park_reserve.to_csv("../data/curated/park_reserve.csv")

gym_fitness.to_csv("../data/curated/gym_fitness.csv")

swimming_sport.to_csv("../data/curated/swimming.csv")

school.to_csv("../data/curated/school.csv")