In [48]:
import pandas as pd

In [49]:
box_hill_csv = pd.read_csv("../data/raw/region_summary/Region summary_ Box Hill SA2 207031163.csv")
carlton_csv = pd.read_csv("../data/raw/region_summary/Region summary_ Carlton SA2 206041117.csv")
colling_csv = pd.read_csv("../data/raw/region_summary/Region summary_ Collingwood SA2 206071141.csv")
dock_csv = pd.read_csv("../data/raw/region_summary/Region summary_ Docklands SA2 206041118.csv")
east_mel_csv = pd.read_csv("../data/raw/region_summary/Region summary_ East Melbourne SA2 206041119.csv")
fle_csv = pd.read_csv("../data/raw/region_summary/Region summary_ Flemington Racecourse SA2 206041120.csv")
haw_csv = pd.read_csv("../data/raw/region_summary/Region summary_ Hawthorn SA2 207011151.csv")
ken_csv = pd.read_csv("../data/raw/region_summary/Region summary_ Kensington (Vic.) SA2 206041121.csv")
mel_csv = pd.read_csv("../data/raw/region_summary/Region summary_ Melbourne SA2 206041122.csv")
north_mel_csv = pd.read_csv("../data/raw/region_summary/Region summary_ North Melbourne SA2 206041123.csv")
park_csv = pd.read_csv("../data/raw/region_summary/Region summary_ Parkville SA2 206041124.csv")
port_mel_csv = pd.read_csv("../data/raw/region_summary/Region summary_ Port Melbourne SA2 206051130.csv")
rich_csv = pd.read_csv("../data/raw/region_summary/Region summary_ Richmond (Vic.) SA2 206071144.csv")
south_mel_csv = pd.read_csv("../data/raw/region_summary/Region summary_ South Melbourne SA2 206051132.csv")
south_yarra_csv = pd.read_csv("../data/raw/region_summary/Region summary_ South Yarra - West SA2 206041125.csv")
sbank_csv = pd.read_csv("../data/raw/region_summary/Region summary_ Southbank SA2 206041126.csv")
stkida_csv = pd.read_csv("../data/raw/region_summary/Region summary_ St Kilda SA2 206051133.csv")
west_mel_csv = pd.read_csv("../data/raw/region_summary/Region summary_ West Melbourne SA2 206041127.csv")

In [50]:
box_hill = pd.DataFrame(box_hill_csv)
car = pd.DataFrame(carlton_csv)
colling = pd.DataFrame(colling_csv)
dock = pd.DataFrame(dock_csv)
eastmel = pd.DataFrame(east_mel_csv)
fle = pd.DataFrame(fle_csv)
haw = pd.DataFrame(haw_csv)
ken = pd.DataFrame(ken_csv)
mel = pd.DataFrame(mel_csv)
nmel = pd.DataFrame(north_mel_csv)
park = pd.DataFrame(park_csv)
portmel = pd.DataFrame(port_mel_csv)
rich = pd.DataFrame(rich_csv)
smel = pd.DataFrame(south_mel_csv)
syarra = pd.DataFrame(south_yarra_csv)
sbank = pd.DataFrame(sbank_csv)
stkilda = pd.DataFrame(stkida_csv)
wmel = pd.DataFrame(west_mel_csv)

In [51]:
box_hill.head()

,Parent Description,Description,2011,2015,2016,2017,2018,2019,2020
0,Estimated resident population - at 30 June,Estimated resident population (no.),NaN,20170.0,20839.0,21703.0,22627.0,23331.0,23981.0
1,Estimated resident population - at 30 June,Population density (persons/km2),NaN,2876.5,2971.9,3095.1,3226.9,3327.3,3420.0
2,Estimated resident population - at 30 June,Estimated resident population - males (no.),NaN,9826.0,10153.0,10650.0,11108.0,11577.0,11909.0
3,Estimated resident population - at 30 June,Estimated resident population - females (no.),NaN,10344.0,10686.0,11053.0,11519.0,11754.0,12072.0
4,Estimated resident population - at 30 June,Median age - males (years),NaN,31.7,31.4,30.9,30.7,30.5,30.9

In [52]:
box_hill=box_hill[['Description','2018','2019','2020']]
car=car[['Description','2018','2019','2020']]
colling=colling[['Description','2018','2019','2020']]
dock=dock[['Description','2018','2019','2020']]
eastmel=eastmel[['Description','2018','2019','2020']]
fle=fle[['Description','2018','2019','2020']]
haw=haw[['Description','2018','2019','2020']]
ken=ken[['Description','2018','2019','2020']]
mel=mel[['Description','2018','2019','2020']]
nmel=nmel[['Description','2018','2019','2020']]
park=park[['Description','2018','2019','2020']]
portmel=portmel[['Description','2018','2019','2020']]
rich=rich[['Description','2018','2019','2020']]
smel=smel[['Description','2018','2019','2020']]
syarra=syarra[['Description','2018','2019','2020']]
sbank=sbank[['Description','2018','2019','2020']]
stkilda=stkilda[['Description','2018','2019','2020']]
wmel=wmel[['Description','2018','2019','2020']]

In [53]:
car.head()

                                     Description     2018     2019     2020
0            Estimated resident population (no.)  23261.0  24709.0  25670.0
1               Population density (persons/km2)  12791.3  13587.6  14116.0
2    Estimated resident population - males (no.)  10875.0  11644.0  12144.0
3  Estimated resident population - females (no.)  12386.0  13065.0  13526.0
4                     Median age - males (years)     24.8     24.9     25.3

In [54]:
a = pd.concat([box_hill.iloc[:1,:],car.iloc[:1,:],colling.iloc[:1,:],dock.iloc[:1,:],eastmel.iloc[:1,:],
              fle.iloc[:1,:],haw.iloc[:1,:],ken.iloc[:1,:],mel.iloc[:1,:],nmel.iloc[:1,:],
              park.iloc[:1,:],portmel.iloc[:1,:],rich.iloc[:1,:],smel.iloc[:1,:],syarra.iloc[:1,:],
              sbank.iloc[:1,:],stkilda.iloc[:1,:],wmel.iloc[:1,:]],ignore_index= True)

In [55]:
a.head(18)

                            Description     2018     2019     2020
0   Estimated resident population (no.)  22627.0  23331.0  23981.0
1   Estimated resident population (no.)  23261.0  24709.0  25670.0
2   Estimated resident population (no.)  10377.0  10990.0  11529.0
3   Estimated resident population (no.)  14985.0  15701.0  15803.0
4   Estimated resident population (no.)   5743.0   5918.0   6055.0
5   Estimated resident population (no.)     91.0     91.0     91.0
6   Estimated resident population (no.)  25532.0  26164.0  26333.0
7   Estimated resident population (no.)  11866.0  12176.0  12183.0
8   Estimated resident population (no.)  49247.0  51909.0  53180.0
9   Estimated resident population (no.)  25367.0  26471.0  27737.0
10  Estimated resident population (no.)   8447.0   8754.0   8741.0
11  Estimated resident population (no.)  17842.0  18051.0  18003.0
12  Estimated resident population (no.)  34659.0  35862.0  36252.0
13  Estimated resident population (no.)  13169.0  13510.0  13686.0
14  Estimated resident population (no.)   6924.0   7008.0   6904.0
15  Estimated resident population (no.)  24424.0  26321.0  27444.0
16  Estimated resident population (no.)  29886.0  30453.0  30772.0
17  Estimated resident population (no.)      3.0      3.0      3.0

In [56]:
a['suburb']= ['BOX HILL','CARLTON','COLLINGWOOD','DOCKLANDS','EAST MELBOURNE','FLEMINGTON',
              'HAWTHORN','KENSINGTON','MELBOURNE','NORTH MELBOURNE','PARKVILLE','PORT MELBOURNE',
              'RICHMOND','SOUTH MELBOURNE','SOUTH YARRA','SOUTH BANK','ST KILDA','WEST MELBOURNE']

In [57]:
a.head()

,Description,2018,2019,2020,suburb
0,Estimated resident population (no.),22627.0,23331.0,23981.0,BOX HILL
1,Estimated resident population (no.),23261.0,24709.0,25670.0,CARLTON
2,Estimated resident population (no.),10377.0,10990.0,11529.0,COLLINGWOOD
3,Estimated resident population (no.),14985.0,15701.0,15803.0,DOCKLANDS
4,Estimated resident population (no.),5743.0,5918.0,6055.0,EAST MELBOURNE

In [58]:
b = pd.concat([box_hill.iloc[1:2,:],car.iloc[1:2,:],colling.iloc[1:2,:],dock.iloc[1:2,:],eastmel.iloc[1:2,:],
              fle.iloc[1:2,:],haw.iloc[1:2,:],ken.iloc[1:2,:],mel.iloc[1:2,:],nmel.iloc[1:2,:],
              park.iloc[1:2,:],portmel.iloc[1:2,:],rich.iloc[1:2,:],smel.iloc[1:2,:],syarra.iloc[1:2,:],
              sbank.iloc[1:2,:],stkilda.iloc[1:2,:],wmel.iloc[1:2,:]],ignore_index= True)

In [59]:
b['suburb']= ['BOX HILL','CARLTON','COLLINGWOOD','DOCKLANDS','EAST MELBOURNE','FLEMINGTON',
              'HAWTHORN','KENSINGTON','MELBOURNE','NORTH MELBOURNE','PARKVILLE','PORT MELBOURNE',
              'RICHMOND','SOUTH MELBOURNE','SOUTH YARRA','SOUTH BANK','ST KILDA','WEST MELBOURNE']

In [60]:
b.head(10)

,Description,2018,2019,2020,suburb
0,Population density (persons/km2),3226.9,3327.3,3420.0,BOX HILL
1,Population density (persons/km2),12791.3,13587.6,14116.0,CARLTON
2,Population density (persons/km2),8189.6,8673.3,9098.7,COLLINGWOOD
3,Population density (persons/km2),6131.3,6424.3,6466.0,DOCKLANDS
4,Population density (persons/km2),1980.5,2040.8,2088.1,EAST MELBOURNE
5,Population density (persons/km2),53.2,53.2,53.2,FLEMINGTON
6,Population density (persons/km2),4501.3,4612.8,4642.5,HAWTHORN
7,Population density (persons/km2),5526.8,5671.2,5674.4,KENSINGTON
8,Population density (persons/km2),20788.1,21911.8,22448.3,MELBOURNE
9,Population density (persons/km2),7807.2,8146.9,8536.6,NORTH MELBOURNE

In [61]:
a.to_csv("../data/curated/population_by_suburb.csv")

In [62]:
b.to_csv("../data/curated/population_density_by_suburb.csv")