In [1]:
import openrouteservice as ors
import folium
client = ors.Client(key='5b3ce3597851110001cf62489d78244f47534f2fa5776b3084165e6e')

In [2]:
pip install haversine

Collecting haversine
  Downloading haversine-2.7.0-py2.py3-none-any.whl (6.9 kB)
Installing collected packages: haversine
Successfully installed haversine-2.7.0
Note: you may need to restart the kernel to use updated packages.

In [3]:
import haversine as hs

In [5]:
import pandas as pd
train = pd.read_csv("../data/curated/metro_stations.csv")
train.head()

,station,the_geom,pids,he_loop,lift
0,Alamein,POINT (145.07955800000002 -37.86884299999997),No,No,No
1,Albion,POINT (144.82470999999998 -37.77765599999998),Dot Matrix,No,No
2,Alphington,POINT (145.031251 -37.77839599999999),Dot Matrix,No,No
3,Altona,POINT (144.830604 -37.86724899999996),LCD,No,No
4,Anstey,POINT (144.96056099999998 -37.761897999999974),No,No,No

In [6]:
train_list = train['the_geom'].to_list()

In [49]:
train_x = []
train_y = []
for i in train_list:
    new = i.split()
    train_x.append(new[1][1:])
    train_y.append(new[2][:-1])

In [53]:
house = pd.read_csv("../data/curated/house_geocoded.csv")
house.head()

,Unnamed: 0,address,price,beds,baths,parking,propertyTypeFormatted,latitudes,longitudes
0,0,SOUTH YARRA 12 MacFarlan Street VIC 3141,625,2,1,0,House,-37.8333,144.9833
1,1,RICHMOND 104 Somerset Street VIC 3121,695,2,1,0,House,-37.8271,145.0064
2,2,WEST MELBOURNE 78 Hawke Street VIC 3003,1100,4,2,1,House,-37.8101,144.9500
3,3,ST KILDA EAST 2 Kurrajong Avenue VIC 3183,720,3,2,1,House,-37.8692,144.9977
4,4,CAULFIELD NORTH 38 Park Crescent VIC 3161,920,3,3,2,House,-37.0000,145.0000

In [54]:
house_x = house['latitudes']
house_y = house['longitudes']

In [56]:
def distance(loc1, loc2):
    d = hs.haversine(loc1,loc2)
    return d

In [59]:
d_lst = []
l1 = list(zip(house_x, house_y))
l2 = list(zip(train_x, train_y))