In [1]:
import pandas as pd

In [10]:
df1 = pd.read_csv('../data/curated/apartment_geocoded.csv')
df2 = pd.read_csv('../data/curated/house_geocoded.csv')

In [11]:
df1.head()

,Unnamed: 0,address,price,beds,baths,parking,propertyTypeFormatted,latitudes,longitudes
0,0,EAST MELBOURNE 12/174 George Street VIC 3002,495,1,1,1,Apartment / Unit / Flat,-37.8167,144.9879
1,1,BRIGHTON 210/26 Warleigh Grove VIC 3186,595,2,2,1,Apartment / Unit / Flat,-37.9057,145.0067
2,2,MELBOURNE 605/455 Elizabeth Street VIC 3000,500,2,1,0,Apartment / Unit / Flat,45.5916,14.1546
3,3,MELBOURNE 3510/500 Elizabeth Street VIC 3000,580,2,2,0,Apartment / Unit / Flat,45.5916,14.1546
4,4,MELBOURNE 309/402-408 La Trobe Street VIC 3000,450,2,1,0,Apartment / Unit / Flat,45.5916,14.1546

In [12]:
#apartment
df_clear1 = df1.drop(df1[df1['latitudes']>0].index)

#house
df_clear2 = df2.drop(df2[df2['latitudes']>0].index)

In [15]:
df_clear1.reset_index(drop=True, inplace=True)
df_clear2.reset_index(drop=True, inplace=True)

In [17]:
df_clear1["coordinates"] = [[df_clear1["longitudes"][i], df_clear1["latitudes"][i]] for i in range(len(df_clear1))]

df_clear1.head()

,Unnamed: 0,address,price,beds,baths,parking,propertyTypeFormatted,latitudes,longitudes,coordinates
0,0,EAST MELBOURNE 12/174 George Street VIC 3002,495,1,1,1,Apartment / Unit / Flat,-37.8167,144.9879,"[144.9879, -37.8167]"
1,1,BRIGHTON 210/26 Warleigh Grove VIC 3186,595,2,2,1,Apartment / Unit / Flat,-37.9057,145.0067,"[145.0067, -37.9057]"
2,5,CARLTON G06/81 Cemetery Road VIC 3053,375,1,1,0,Apartment / Unit / Flat,-37.8004,144.9684,"[144.9684, -37.8004]"
3,6,ST KILDA EAST 7/1A Hughenden Road VIC 3183,340,1,1,1,Apartment / Unit / Flat,-37.8692,144.9977,"[144.9977, -37.8692]"
4,7,ABBOTSFORD EG07/11 Flockhart Street VIC 3067,375,2,1,0,Apartment / Unit / Flat,-37.8046,144.9998,"[144.9998, -37.8046]"

In [18]:
df_clear2["coordinates"] = [[df_clear2["longitudes"][i], df_clear2["latitudes"][i]] for i in range(len(df_clear2))]

In [20]:
df_clear1.to_csv('../data/curated/clean_apartment_geo.csv')
df_clear2.to_csv('../data/curated/clean_house_geo.csv')